// Import of the layout first
@import "./layout/variables";
@import "./layout/mixins";


// Import of the partial
@import "./partial/header";
@import "./partial/footer";
@import "./partial/home";
@import "./partial/error";
@import "./partial/about";
@import "./partial/appartement";

a, p, h1, h2, h3, h4, h5, span {
    text-decoration: none;
    font-family: "montserrat";
}

body {
    margin: 0;
}

.secondary-color {
    color: $secondary-color;
}

.fifth-color {
    color: $fifth-color;
}