.Header {
  margin: 45px 100px 50px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header__div {
  display: flex;
  gap: 57px;
}
.Header__texte {
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: bottom;
}
.Header__texte:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Header {
    margin: 45px 50px 50px 50px;
  }
  .Header__img {
    max-height: 76px;
    max-width: 175px;
  }
  .Header__div {
    gap: 40px;
  }
  .Header__texte {
    font-size: 20px;
  }
}
@media screen and (max-width: 510px) {
  .Header {
    margin: 20px;
  }
  .Header__img {
    max-height: 46px;
    max-width: 145px;
  }
  .Header__div {
    gap: 26px;
  }
  .Header__texte {
    font-size: 16px;
  }
}
.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 66px 0px 29px 0px;
  background-color: black;
}
.Footer__img {
  width: 100%;
  max-width: 122px;
  height: 100%;
  max-height: 39.4444198608px;
}
.Footer__text {
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-top: 28px;
  margin-bottom: 0px;
}

@media screen and (max-width: 570px) {
  .Footer__text {
    font-size: 15px;
  }
}
.Home {
  margin: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  height: auto;
}
.Home__first {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 223px;
}
.Home__img {
  position: absolute;
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
.Home__dark {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
.Home__text {
  color: white;
  font-weight: 700;
  font-size: 48px;
  z-index: 2;
}
.Home__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 56px 50px 50px 50px;
  background-color: #F6F6F6;
  border-radius: 25px;
  width: 100%;
  height: auto;
  max-width: 1240px;
  row-gap: 50px;
  column-gap: 20px;
}
.Home__card {
  display: flex;
  position: relative;
  align-items: flex-end;
  max-width: 340px;
  width: 100%;
  height: 340px;
  color: white;
}
.Home__card a {
  cursor: pointer;
  z-index: 3;
  position: absolute;
  max-width: 340px;
  max-height: 340px;
  width: 100%;
  height: 100%;
}
.Home__card--title {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0px;
  z-index: 2;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  height: 100%;
  max-height: 42px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
}
.Home__card--img {
  position: absolute;
  object-fit: cover;
  z-index: 1;
  border-radius: 10px;
  max-width: 340px;
  max-height: 340px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .Home {
    margin: 50px 50px;
  }
  .Home__text {
    font-size: 36px;
  }
  .Home__cards {
    padding: 31px 25px 25px 25px;
  }
}
@media screen and (max-width: 800px) {
  .Home {
    margin: 27px 20px;
  }
  .Home__first {
    height: 111px;
  }
  .Home__text {
    font-size: 30px;
  }
  .Home__cards {
    padding: 31px 25px 25px 25px;
  }
  .Home__card {
    height: 255px;
  }
}
@media screen and (max-width: 740px) {
  .Home__card {
    max-width: 255px;
  }
}
@media screen and (max-width: 570px) {
  .Home__text {
    font-size: 24px;
    padding-left: 15px;
    text-wrap: balance;
  }
  .Home__card {
    max-width: 340px;
    height: 255px;
  }
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 140px 0px;
  gap: 139px;
}
.error__title {
  font-weight: 700;
  font-size: 288px;
  line-height: 143%;
  margin: 0px;
  color: #FF6060;
}
.error__subtitle {
  margin: 0px;
  color: #FF6060;
  font-weight: 500;
  font-size: 36px;
  line-height: 143%;
}
.error__link {
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 143%;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .error__subtitle {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .error__title {
    font-size: 144px;
  }
  .error__subtitle {
    margin: 0px 15px;
    text-wrap: balance;
    text-align: center;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .error__title {
    font-size: 96px;
  }
}
@keyframes slideDown {
  from {
    display: none;
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    display: inline;
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    display: inline;
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    display: none;
    transform: translateY(-50px);
    opacity: 0;
  }
}
.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 50px 100px;
}
.About__first {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 223px;
}
.About__img {
  position: absolute;
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
.About__infos {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 38px 108px;
  gap: 28px;
}
.About__card {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0px 108.5px;
}
.About__card--arrow {
  position: absolute;
  max-width: 32px;
  max-height: 32px;
  rotate: -90deg;
  right: 128.5px;
  top: 10px;
  z-index: 3;
}
.About__card--title {
  background-color: #FF6060;
  color: white;
  margin: 0px;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  z-index: 2;
}
.About__card--text {
  background-color: #F6F6F6;
  margin: 0px;
  padding: 10px;
  z-index: 1;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
}
.About__card--text.open {
  animation: slideDown 0.3s ease-in-out forwards;
}
.About__card--text.close {
  animation: slideUp 0.3s ease-in-out forwards;
}

.rotateDown {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.rotateUp {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 1023px) {
  .About__infos {
    margin: 38px 50px;
  }
  .About__card {
    padding: 0px 50px;
  }
  .About__card--arrow {
    right: 78.5px;
  }
}
@media screen and (max-width: 900px) {
  .About {
    margin: 50px 75px;
  }
}
@media screen and (max-width: 768px) {
  .About {
    margin: 50px 50px;
  }
  .About__first {
    max-height: 111px;
  }
  .About__card {
    padding: 0px;
  }
  .About__card--arrow {
    right: 28.5px;
  }
}
@media screen and (max-width: 600px) {
  .About {
    margin: 0px 20px;
  }
}
a, p, h1, h2, h3, h4, h5 {
  text-decoration: none;
  font-family: "montserrat";
}

body {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
