@keyframes slideDown {
  from {
    display: none;
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    display: flex;
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    display: flex;
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    display: none;
    transform: translateY(-20px);
    opacity: 0;
  }
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 50px 100px;
  &__first {
    @include top__div;
  }
  &__img {
    @include top__img;
  }
  &__infos {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 38px 108px;
    gap: 28px;
  }
  &__card {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0px 108.5px;
    &--arrow {
      position: absolute;
      max-width: 32px;
      max-height: 32px;
      rotate: -90deg;
      right: 128.5px;
      top: 10px;
      z-index: 3;
    }
    &--title {
      background-color: $secondary-color;
      color: $main-color;
      margin: 0px;
      padding: 10px 20px 10px 15px;
      border-radius: 5px;
      z-index: 2;
    }
    &--text {
      background-color: $forth-color;
      margin: 0px;
      padding: 10px;
      z-index: 1;
      opacity: 0;
      transform: translateY(-20px);
      transition: all 0.3s ease-in-out;
      &.open {
        animation: slideDown 0.3s ease-in-out forwards;
      }
      &.close {
        animation: slideUp 0.3s ease-in-out forwards;
      }
    }
  }
}

.rotate {
  &Down {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }
  &Up {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
  }
}

@media screen and (max-width: 1023px) {
  .About {
    &__infos {
      margin: 38px 50px;
    }
    &__card {
      padding: 0px 50px;
      &--arrow {
        right: 78.5px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .About {
    margin: 50px 75px;
  }
}

@media screen and (max-width: 768px) {
  .About {
    margin: 50px 50px;
    &__infos {
      gap: 20px;
      margin: 19px 0px;
    }
    &__first {
      max-height: 111px;
    }
    &__card {
      padding: 0px;
      &--arrow {
        right: 18.5px;
        max-width: 20px;
        max-height: 20px;
      }
      &--title {
        font-size: 13px;
      }
      &--text {
        font-size: 11px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .About {
    margin: 0px 20px;
  }
}
