@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.Appartement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  margin-bottom: 50px;
  &__carousel {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1240px;
    max-height: 415px;
    &__image {
      width: 100%;
      height: 100%;
      max-height: 415px;
      min-height: 415px;
      object-fit: cover;
      border-radius: 25px;
      animation: fadeSlide 0.5s ease-in-out;
    }
  }
  &__btn {
    &--left {
      border: none;
      background-color: transparent;
      color: $main-color;
      font-size: 50px;
      position: absolute;
      top: 40%;
      left: 2%;
      cursor: pointer;
    }
    &--right {
      border: none;
      background-color: transparent;
      color: $main-color;
      font-size: 50px;
      position: absolute;
      top: 40%;
      right: 1%;
      cursor: pointer;
    }
  }
  &__counter {
    position: absolute;
    bottom: 20px;
    right: 45%;
    padding: 4px;
    color: $main-color;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  &__infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 30px 0px 20px 0px;
    &--title {
      color: $secondary-color;
      margin: 0px;
      font-size: 36px;
      font-weight: 600;
    }
    &--location {
      font-size: 18px;
      font-weight: 500;
    }

    &--2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      max-width: 200px;
      row-gap: 20px;
      margin: 20px 0px;
    }
    &--div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &--host {
      max-width: 92px;
      color: $secondary-color;
      margin: 0px;
      font-size: 18px;
      font-weight: 500;
      text-wrap: balance;
      text-align: end;

      &--img {
        border-radius: 50%;
        object-fit: cover;
        max-width: 62px;
        max-height: 62px;
      }
    }
    &--stars {
      font-size: 24px;
    }
  }

  &__subinfos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &--tags {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
    &--text {
      background-color: $secondary-color;
      border-radius: 15px;
      padding: 5px 10px;
      max-width: 115px;
      margin: 0px;
      font-size: 14px;
      font-weight: 700;
      color: $main-color;
      display: flex;
      align-items: center;
    }

    &--rating {
      display: flex;
      gap: 10px;
    }
  }

  &__down {
    display: flex;
    flex-direction: row;
    gap: 75px;
    width: 100%;
    margin: 20px 0px;
  }
  &__description {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    &--title {
      background-color: $secondary-color;
      color: $main-color;
      margin: 0px;
      padding: 10px 20px 10px 15px;
      border-radius: 5px;
      z-index: 2;
    }
    &--arrow {
      position: absolute;
      max-width: 32px;
      max-height: 32px;
      width: 100%;
      height: 100%;
      rotate: -90deg;
      right: 25px;
      top: 7px;
      z-index: 3;
      color: $main-color;
    }
    &--text {
      background-color: $forth-color;
      margin: 0px;
      padding: 10px;
      z-index: 1;
      opacity: 0;
      transform: translateY(-20px);
      transition: all 0.3s ease-in-out;
      &.open {
        animation: slideDown 0.3s ease-in-out forwards;
      }
      &.close {
        animation: slideUp 0.3s ease-in-out forwards;
      }
    }
  }
  &__equipments {
    width: 50%;
    position: relative;
    &--title {
      background-color: $secondary-color;
      color: $main-color;
      margin: 0px;
      padding: 10px 20px 10px 15px;
      border-radius: 5px;
      z-index: 2;
    }
    &--arrow {
      position: absolute;
      max-width: 32px;
      max-height: 32px;
      rotate: -90deg;
      right: 30px;
      top: 10px;
      z-index: 3;
    }
    &__container {
      display: flex;
      flex-direction: column;
      transform: translateY(-20px);
      transition: all 0.3s ease-in-out;
      z-index: 1;
      &.open {
        animation: slideDown 0.3s ease-in-out forwards;
      }
      &.close {
        animation: slideUp 0.3s ease-in-out forwards;
      }
    }
    &--text {
      background-color: $forth-color;
      margin: 0px;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .Appartement {
    margin: 50px 20px;
    &__carousel {
      &__image {
        height: 255px;
        min-height: auto;
      }
    }
    &__down {
      flex-direction: column;
      gap: 30px;
    }
    &__description,
    &__equipments {
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .Appartement {
    margin-bottom: 27px;
    &__btn {
      &--left, &--right {
        font-size: 25px;
        top: 45%;
      }
    }
    &__counter {
      font-size: 13px;
    }
    &__infos {
      flex-direction: column;
      align-items: flex-start;
      &--2 {
        justify-content: space-between;
        flex-wrap: nowrap;
        max-width: none;
        width: 100%;
      }
      &--div {
        order: 2;
      }
      &--title {
        font-size: 20px;
      }
      &--location {
        font-size: 16px;
      }
      &--stars {
        font-size: 18px;
      }
    }
    &__subinfos {
      &--text {
        font-size: 12px;
        border-radius: 10px;
      }
      &--rating {
        gap: 5px;
        order: 1;
      }
    }
    &__equipments, &__description {
      &--title {
        font-size: 15px;
      }
      &--arrow {
        max-width: 20px;
        max-height: 20px;
        top: 9px;
        right: 15px;
      }
      &--text {
        font-size: 12px;
      }
    }
  }
}
