.Header {
  margin: 45px 100px 50px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__div {
    display: flex;
    gap: 57px;
  }
  &__texte {
    color: $third-color;
    font-weight: 500;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;
    &:hover {
        text-decoration: underline;
    }
  }
}
